////
/// Main content area styles
////

// page wrapper
.page {
    min-height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;

    @include d(mobile) {
        padding-top: 56px;
    }
}

// content wrapper
.page-content {
    padding-top: 42px;
    padding-bottom: 56px;

    @include d(mobile) {
        max-width: calc(100vw - 40px);
    }
}

// intro
.page-intro {
    border-left: 3px solid $color-blue;
    padding-left: 24px;
}

// home
#home {
    .button {
        margin-top: 20px;
    }
}
