
/// Typography styles
///
/// @since 4.0.0
////

/// global
body {
    font: 300 16px/1.56 $font-family-primary;
    color: $color-dark;

    @include d(mobile) {
        font-size: 14px;
    }
}

// links
a {
    text-decoration: none;
    color: $color-blue;
    font-weight: 400;
}

// paragraphs
p {
    font-size: 1em;
    margin-bottom: .8em;

    &.lg {
        font-size: 2em;
        color: $color-medium;
    }
}

/// headings
h1 {
    font: 200 3em/1em $font-family-primary;
    margin-top: -.075em;
    margin-bottom: 24px;
}

h2 {
    font-size: 1.8em;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 20px;

    @include d(mobile) {
        font-size: 1.5em;
    }

    code {
        background: transparent;
        font-weight: 600;
    }

    .title-params {
        font-size: .75em;
        font-weight: 400;
        color: rgba($color-dark, .75);

        b {
            display: inline-block;
            margin: 0 4px;
        }

        em {
            color: $color-medium;
        }

        i {
            color: $color-blue;
        }
    }
}

h4 {
    font-size: 1.3em;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 400;
}

h6 {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;

    a {
       font-weight: 600;
    }
}


/// pre
pre {
    max-width: 100%;
    overflow-x: auto;
}

/// code
code {
    max-width: 100%;
    font-family: $font-family-secondary;
    padding: 3px 5px;
    display: inline-block;
    background: rgba($color-light, .3);

    &.hljs {
        background: rgba($color-light, .25);
        padding: 16px 20px;
        font-size: .8em;
    }
}
