{
  "presets": [
	["@babel/preset-env", {
      "targets": {
        "browsers": ["last 5 versions"]
      },
      "spec": true,
      "modules": "commonjs",
      "forceAllTransforms": true
    }]
  ]
}
